.container{
    width: 80%;
    margin: auto;

}
.col{
    border: 1px solid black;
    background-color: aqua;
    
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    grid-template-rows: 100px 200px;
}
.col:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: antiquewhite;
}
.col:nth-child(3){
    background-color: rgb(233, 137, 12);
}
.col:nth-child(4){
    background-color: rgb(10, 179, 55);
}
.col:nth-child(5){
    background-color: rgb(152, 50, 211);
}
.col:nth-child(6){
    background-color: rgb(201, 40, 150);
}