*{
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: aqua;
}
.row{
    text-align: center;
    width: 30%;
    height: 200px;
    border: 1px solid black;

}
.row:nth-child(1){
    background-color: bisque;
}
.row:nth-child(2){
    background-color: rgb(34, 161, 32);
}
.row:nth-child(3){
    background-color: rgb(75, 30, 160);
}
.parent{
    width: 70%;
    height: 300px;
    border: 1px solid black;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}
.child{
    align-items: center;
    width: 40%;
    height: 200px;
    border: 1px solid black;
    background-color: blueviolet;
    float: left;
    margin-left: 60px;
    margin-top: 40px;
}
.child:nth-child(2){
    background-color: brown;
}